/*===== GOOGLE FONT ======*/
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');

/*===== VARIABLE CSS ======*/
:root {
 --header-height: 3rem;
 
 /*===== COLOR PALETTE ======*/
 --first-color: #3E0E12;
 --first-color-dark: #2f0a0d;
 --text-color: black;
 --first-color-light: #7b6f71;
 --first-color-lighten: #fbf9f9;
 
 /*===== FONT & TYPOGRAPHY ======*/
 --body-font: 'Merriweather', sans-serif;
 --biggest-font-size: 2.5rem;
 --h1-font-size: 1.5rem ;
 --h2-font-size: 1.25rem;
 --h3-font-size: 1.125rem;
 --normal-font-size: .938rem;
 --small-font-size: .813rem;
 --smaller-font-size: .75rem;
 
 /*===== FONT WEIGHT ======*/
 --font-thin: 300;
 --font-medium: 400;
 --font-semi-bold: 700;
 --font-bold: 900;
 
 /*===== MARGINS ======*/
 --mb-1: .5rem;
 --mb-2: 1rem;
 --mb-3: 1.5rem;
 --mb-4: 2rem;
 --mb-5: 2.5rem;
 --mb-6: 3rem;
 
 /*===== Z INDEX ======*/
 --z-normal: 1;
 --z-tooltip: 10;
 --z-fixed: 100;
}

@media screen and (min-width: 768px){
 :root {
   --biggest-font-size: 4.5rem;
   --h1-font-size: 2.5rem;
   --h2-font-size: 1.5rem;
   --h3-font-size: 1.25rem;
   --normal-font-size: 1rem;
   --small-font-size: .875rem;
   --smaller-font-size: .813rem;
 }
}

/*===== BASE ======*/
*,::before,::after {
 box-sizing: border-box;
}

html {
 scroll-behavior: smooth;
}

body {
 margin: var(--header-height) 0 0 0;
 font-family: var(--body-font);
 font-size: var(--normal-font-size);
 font-weight: var(--font-medium);
 background-color: #0D1117;
 color: white;
 line-height: 1.6;
}

h1,h2,h3,ul,p {
 margin: 0;
}

h2,h3 {
 font-weight: var(--font-semi-bold);
}

ul {
 padding: 0;
 list-style: none;
}

a {
 text-decoration: none;
}

img {
 max-width: 100%;
 height: auto;
 display: block;
}

/*===== CLASS CSS ======*/
 .section {
  padding: 4rem 0 2rem;
 }
 
 .section-title, .section-subtitle {
  text-align: center;
 }
 
 .section-title {
  font-size: var(--h1-font-size);
  color: white;
  margin-bottom: var(--mb-3);
 }
 
 .section-subtitle {
  display: block;
  font-size: var(--smaller-font-size);
  font-weight: var(--font-semi-bold);
 }
 
/*===== LAYOUT ======*/
.bd-container {
 /* max-width: 800px; */
 width: calc(100% - 2rem);
 margin-left: var(--mb-2);
 margin-right: var(--mb-2);
} 

.bd-grid {
 display: grid;
 gap: 1.5rem;
}

.l-header {
 width: 100%;
 position: fixed;
 top: 0;
 left: 0;
 z-index: var(--z-fixed);
 background-color: black;
}

/*===== NAV ======*/
.nav {
 height: var(--header-height);
 display: flex;
 justify-content: space-between;
 align-items: center;
}

@media screen and (max-width: 768px) {
 .nav__menu {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  padding-top: 1.5rem;
  text-align: center;
  background-color: black;
  transition: 0.4s;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  border-radius: 0 0 1rem 1rem;
 }
}
 
.nav__item {
 margin-bottom: var(--mb-3);
}

.nav__link {
 color: white;
 transition: 0.3s;
}

.nav__link:hover {
 color: white;
}

.nav__logo, .nav__toggle {
 color: white;
}

.nav__toggle {
 font-size: 1.3rem;
 cursor: pointer;
}

/* Show Menu */
.show-menu {
 top: var(--header-height);
}

/* Active Menu */
.active-link {
 position: relative;
}

.active-link::after {
 content: '';
 position: absolute;
 bottom: -0.7rem;
 left: 0%;
 width: 65%;
 height: 3px;
 background-color: #797A85;
}

/* Change Background Header */
.scroll-header {
 background-color: #0D1117;
 box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.scroll-header .nav__logo, .scroll-header .nav__toggle, .scroll-header .nav__link {
 color: white;
} 

/*===== SCROLL TOP ======*/
.scrolltop {
 position: fixed;
 right: 1rem;
 bottom: -20%;
 display: flex;
 justify-content: center;
 align-items: center;
 padding: 0.5rem;
 background: rgba(123, 111, 113, 0.7);
 border-radius: 0.5rem;
 z-index: var(--z-tooltip);
 transition: 0.4s;
 visibility: hidden;
}

.scrolltop:hover {
 background-color: dimgray;
}

.scrolltop__icon {
 font-size: 2rem;
 color: white;
}

/* Show Scroll Top */
.show-scroll {
 visibility: visible;
 bottom: 1.5rem;
}


/*===== HOME ======*/

.home {
 overflow: hidden;
 background-color: #0D1117;
}

.home__container {
 margin-top: 90px;
}

.home-data, .home__social {
 color: white;
 text-align: center;
}

.photo {
 filter: grayscale(100%);
 margin: auto;
 display: block;
 width: 130px;
 clip-path: circle();
}

.home__greeting {
 font-weight: 300;
 font-size: .90rem;
}

.home__name {
 font-weight: 900;
}

.download-cv {
 color: white;
 padding: 5px 10px;
 border-radius: 15px;
}

.download-cv:hover {
 background-color: black;
 color: white;
}

.home__social a {
 list-style: none;
 color: white;
 font-size: 25px;
 padding: 5px;
}

.about {
 height: 100%;
}

/*===== ABOUT ======*/

.about__data {
 text-align: center;
}

.about__description span {
 font-size: var(--h2-font-size);
 font-weight: var(--font-semi-bold);
 color: gray;
}

.about__number {
 font-size: var(--h1-font-size);
 color: gray;
 display: block;
}

/*===== QUALIFICATION ======*/

.qualification__container {
 row-gap: 2.5rem;
}

.qualification__title {
 font-size: var(--h3-font-size);
 color: white;
 font-weight: bold;
 margin-bottom: var(--mb-2);
 display: flex;
 align-items: center;
}

.qualification__title-icon {
 font-size: 1rem;
 margin-right: var(--mb-1);
}

.qualification__box {
 padding-bottom: 1rem;
 border-bottom: 1px solid #ccc;
}

.qualification__area {
 font-size: var(--normal-font-size);
 color: white;
 margin-bottom: var(--mb-1);
 font-weight: var(--font-medium);
}

.qualification__icon, .qualification__work {
 font-size: var(--smaller-font-size);
 color: gray;
}

.qualification__work {
 display: block;
}

/* BUTTON */

.button {
 background-color: #0D1117;
 padding: 10px;
 border-radius: 10px;
 color: white;
}

.button:hover {
 background: none;
 color: var(--first-color-light);
 transition: 0.4s;
}

/*===== PORTFOLIO ======*/

.portfolio__nav {
 text-align: center;
 margin-bottom: var(--mb-3);
}

.portfolio__item {
 margin: var(--mb-2);
 cursor: pointer;
 color: grey;
}

.portfolio__content {
/* baru di set size height & width */
 background-color: white;
 border-radius: 0.5rem;
 overflow: hidden;
 box-shadow: 0 4px 6px rgba(174, 190, 205, 0.3);
}

.portfolio__img {
 width: 100%;
 transition: 0.4s;
}

.portfolio__data {
 padding: 2rem;
 height: 200px;
 width: 290px;
}

.portfolio__subtitle {
 width: 100%;
 font-size: 0.7rem;
 color: black;
}

.portfolio__title {
 font-size: 1rem;
 color: black;
 margin: var(--mb-2) 0;
}

.portfolio__content:hover {
 box-shadow: 0 6px 8px rgba(174, 190, 205, 0.4);
}

.portfolio__content:hover .portfolio__img {
 transform: scale(1.02);
}

.card__header {
    width: 100%;
}

.button__card {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button__github {
    font-size: 1.6rem;
}

/*===== PORTFOLIO ======*/

#follow {
 font-size: 15px;
 text-align: center;
 background-color: black;
 padding: 10px;
}

#follow p {
 color: white;
 font-weight: 300;
 padding: 10px;
}

.text-white {
 text-decoration: none;
 color: white;
}

.active-portfolio {
 color: white;
 font-weight: var(--font-semi-bold);
}

/*===== PORTFOLIO ======*/

.contact__container {
 row-gap: 2.5rem;
}

.contact__content {
 grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.contact__box {
 background-color: white;
 border-radius: 0.5rem;
 padding: 1.5rem;
 text-align: center;
 box-shadow: 0 4px 6px rgba(174, 190, 205, 0.3)
}

.contact__icon, .contact__title {
 color: black;
}

.contact__description {
    color: black;
}

.contact__icon {
 font-size: 2rem;
}

.contact__title {
 font-size: var(--h3-font-size);
 margin: var(--mb-1) 0;
}

.contact__box:hover {
 box-shadow: 0 6px 8px rgba(174, 190, 205, 0.5);
 transition: 0.4s;
}

/*===== MEDIA QUERY ======*/
@media screen and (min-width: 576px) {
    
 .portfolio__container {
     grid-template-columns: repeat(3,1fr);
 }
 
 .qualification__container{
  grid-template-columns: repeat(2,2fr);
 }
 
}

@media screen and (max-width: 575px) {
    .portfolio__container {
        grid-template-columns: repeat(2,2fr);
        width: 100%;
    }
    
    .portfolio__subtitle {
        width: 100%;
        font-size: 0.5rem;
        color: black;
    }
    
    .portfolio__data {
        padding: 1.5rem;
        height: 200px;
        width: 100%;
    }
    
    .portfolio__title {
        font-size: 0.7rem;
        color: black;
        margin: var(--mb-2) 0;
    }
    
    .card__header {
        width: 100%;
    }
    
    .button__card {
        font-size: 0.5rem;
    }

    .button__github {
        font-size: 0.5rem;
    }
}

@media screen and (min-width: 768px) {
 body {
  margin: 0;
 }
 
 .section {
  padding-top: 6rem;
 }
 
 .section__title {
  margin-bottom: var(--mb-5);
 }
 
 .nav {
  height: calc(var(--header-height) + 1.5rem);
 }
 
 .nav__list {
  display: flex;
 }
 
 .nav__item {
  margin-left: var(--mb-5);
  margin-bottom: 0;
 }
 
 .nav__toggle {
  display: none;
 }
 
 .home__container {
  height: 100%;
  padding-top: 80px;
 }
 
 .qualification__box {
  display: flex;
  justify-content: space-between;
 }
}
